<%- include('partials/head') %> 

<div class="homepage">
    <video muted loop autoplay class="homePageVideo">
        <source src="/production ID 4496268.mp4" type="video/mp4">
    </video>

    <div class="overlay"></div>

    <div class="text">
        <div class="heroLogo">
            <svg id="futuristic" width="271" height="56" viewBox="0 0 271 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-outside-1_5_12" maskUnits="userSpaceOnUse" x="0.0319977" y="0.711998" width="271" height="55"
                    fill="black">
                    <rect fill="white" x="0.0319977" y="0.711998" width="271" height="55" />
                    <path d="M1.032 54V2.16H21.064V7.344H8.264V24.624H18.184V29.744H8.264V54H1.032Z" />
                    <path
                        d="M39.408 54.576C35.6533 54.576 32.7733 53.8293 30.768 52.336C28.7627 50.8427 27.3973 48.752 26.672 46.064C25.9467 43.3333 25.584 40.1547 25.584 36.528V2.16H32.496V36.848C32.496 39.0667 32.6453 41.0933 32.944 42.928C33.2427 44.7627 33.8827 46.2133 34.864 47.28C35.888 48.3467 37.4027 48.88 39.408 48.88C41.456 48.88 42.9707 48.3467 43.952 47.28C44.9333 46.2133 45.5733 44.7627 45.872 42.928C46.1707 41.0933 46.32 39.0667 46.32 36.848V2.16H53.168V36.528C53.168 40.1547 52.8053 43.3333 52.08 46.064C51.3547 48.752 49.9893 50.8427 47.984 52.336C46.0213 53.8293 43.1627 54.576 39.408 54.576Z" />
                    <path d="M66.478 54V7.536H57.71V2.16H82.222V7.536H73.71V54H66.478Z" />
                    <path
                        d="M100.596 54.576C96.8408 54.576 93.9608 53.8293 91.9555 52.336C89.9502 50.8427 88.5848 48.752 87.8595 46.064C87.1342 43.3333 86.7715 40.1547 86.7715 36.528V2.16H93.6835V36.848C93.6835 39.0667 93.8328 41.0933 94.1315 42.928C94.4302 44.7627 95.0702 46.2133 96.0515 47.28C97.0755 48.3467 98.5902 48.88 100.596 48.88C102.644 48.88 104.158 48.3467 105.14 47.28C106.121 46.2133 106.761 44.7627 107.06 42.928C107.358 41.0933 107.507 39.0667 107.507 36.848V2.16H114.355V36.528C114.355 40.1547 113.993 43.3333 113.268 46.064C112.542 48.752 111.177 50.8427 109.172 52.336C107.209 53.8293 104.35 54.576 100.596 54.576Z" />
                    <path
                        d="M121.969 54V2.16H132.402C135.858 2.16 138.716 2.62933 140.978 3.568C143.239 4.464 144.903 5.936 145.969 7.984C147.079 9.98933 147.633 12.6347 147.633 15.92C147.633 17.9253 147.42 19.76 146.993 21.424C146.567 23.0453 145.884 24.432 144.945 25.584C144.007 26.6933 142.77 27.504 141.234 28.016L148.594 54H141.617L134.833 29.68H129.202V54H121.969ZM129.202 24.496H131.954C134.002 24.496 135.665 24.24 136.945 23.728C138.225 23.216 139.164 22.3413 139.762 21.104C140.359 19.8667 140.658 18.1387 140.658 15.92C140.658 12.8907 140.103 10.7147 138.993 9.392C137.884 8.02666 135.687 7.344 132.402 7.344H129.202V24.496Z" />
                    <path d="M155.541 54V2.16H162.645V54H155.541Z" />
                    <path
                        d="M183.256 54.576C180.269 54.576 177.773 53.936 175.768 52.656C173.805 51.376 172.312 49.6053 171.288 47.344C170.264 45.0827 169.667 42.4587 169.496 39.472L175.896 37.744C176.024 39.5787 176.301 41.3493 176.728 43.056C177.197 44.7627 177.944 46.1707 178.968 47.28C179.992 48.3467 181.421 48.88 183.256 48.88C185.133 48.88 186.541 48.368 187.48 47.344C188.461 46.2773 188.952 44.7627 188.952 42.8C188.952 40.4533 188.419 38.576 187.352 37.168C186.285 35.7173 184.941 34.2667 183.32 32.816L174.616 25.136C172.909 23.6427 171.651 22.0213 170.84 20.272C170.029 18.48 169.624 16.2827 169.624 13.68C169.624 9.88266 170.712 6.93866 172.888 4.848C175.064 2.75733 178.029 1.712 181.784 1.712C183.832 1.712 185.624 1.98933 187.16 2.544C188.739 3.056 190.04 3.86666 191.064 4.976C192.131 6.08533 192.963 7.49333 193.56 9.2C194.2 10.864 194.627 12.8267 194.84 15.088L188.696 16.752C188.568 15.0453 188.312 13.488 187.928 12.08C187.544 10.6293 186.861 9.47733 185.88 8.624C184.941 7.728 183.576 7.28 181.784 7.28C179.992 7.28 178.584 7.77067 177.56 8.752C176.579 9.69066 176.088 11.0987 176.088 12.976C176.088 14.5547 176.344 15.856 176.856 16.88C177.411 17.904 178.285 18.9493 179.48 20.016L188.248 27.696C190.211 29.4027 191.939 31.4507 193.432 33.84C194.925 36.1867 195.672 38.9813 195.672 42.224C195.672 44.784 195.139 47.0027 194.072 48.88C193.005 50.7147 191.533 52.1227 189.656 53.104C187.821 54.0853 185.688 54.576 183.256 54.576Z" />
                    <path d="M206.978 54V7.536H198.21V2.16H222.722V7.536H214.21V54H206.978Z" />
                    <path d="M228.104 54V2.16H235.208V54H228.104Z" />
                    <path
                        d="M256.586 54.576C252.917 54.576 250.058 53.808 248.01 52.272C246.005 50.736 244.597 48.6667 243.786 46.064C243.018 43.4613 242.635 40.56 242.635 37.36V19.056C242.635 15.5573 243.018 12.5067 243.786 9.904C244.597 7.30133 246.005 5.296 248.01 3.888C250.058 2.43733 252.917 1.712 256.586 1.712C259.829 1.712 262.389 2.30933 264.266 3.504C266.186 4.69866 267.552 6.40533 268.362 8.624C269.216 10.8427 269.643 13.5093 269.643 16.624V20.72H262.794V17.072C262.794 15.152 262.688 13.4667 262.474 12.016C262.304 10.5227 261.792 9.37066 260.938 8.56C260.085 7.74933 258.656 7.344 256.651 7.344C254.603 7.344 253.109 7.792 252.171 8.688C251.232 9.54133 250.613 10.7787 250.314 12.4C250.058 13.9787 249.93 15.8347 249.93 17.968V38.512C249.93 41.1147 250.144 43.184 250.57 44.72C250.997 46.2133 251.701 47.28 252.682 47.92C253.664 48.56 254.987 48.88 256.651 48.88C258.613 48.88 260.021 48.4533 260.874 47.6C261.728 46.704 262.261 45.488 262.474 43.952C262.688 42.416 262.794 40.624 262.794 38.576V34.736H269.643V38.576C269.643 41.7333 269.258 44.528 268.49 46.96C267.722 49.3493 266.4 51.2267 264.522 52.592C262.645 53.9147 260 54.576 256.586 54.576Z" />
                </mask>
                <path d="M1.032 54V2.16H21.064V7.344H8.264V24.624H18.184V29.744H8.264V54H1.032Z" stroke="white" stroke-width="2"
                    mask="url(#path-1-outside-1_5_12)" />
                <path
                    d="M39.408 54.576C35.6533 54.576 32.7733 53.8293 30.768 52.336C28.7627 50.8427 27.3973 48.752 26.672 46.064C25.9467 43.3333 25.584 40.1547 25.584 36.528V2.16H32.496V36.848C32.496 39.0667 32.6453 41.0933 32.944 42.928C33.2427 44.7627 33.8827 46.2133 34.864 47.28C35.888 48.3467 37.4027 48.88 39.408 48.88C41.456 48.88 42.9707 48.3467 43.952 47.28C44.9333 46.2133 45.5733 44.7627 45.872 42.928C46.1707 41.0933 46.32 39.0667 46.32 36.848V2.16H53.168V36.528C53.168 40.1547 52.8053 43.3333 52.08 46.064C51.3547 48.752 49.9893 50.8427 47.984 52.336C46.0213 53.8293 43.1627 54.576 39.408 54.576Z"
                    stroke="white" stroke-width="2" mask="url(#path-1-outside-1_5_12)" />
                <path d="M66.478 54V7.536H57.71V2.16H82.222V7.536H73.71V54H66.478Z" stroke="white" stroke-width="2"
                    mask="url(#path-1-outside-1_5_12)" />
                <path
                    d="M100.596 54.576C96.8408 54.576 93.9608 53.8293 91.9555 52.336C89.9502 50.8427 88.5848 48.752 87.8595 46.064C87.1342 43.3333 86.7715 40.1547 86.7715 36.528V2.16H93.6835V36.848C93.6835 39.0667 93.8328 41.0933 94.1315 42.928C94.4302 44.7627 95.0702 46.2133 96.0515 47.28C97.0755 48.3467 98.5902 48.88 100.596 48.88C102.644 48.88 104.158 48.3467 105.14 47.28C106.121 46.2133 106.761 44.7627 107.06 42.928C107.358 41.0933 107.507 39.0667 107.507 36.848V2.16H114.355V36.528C114.355 40.1547 113.993 43.3333 113.268 46.064C112.542 48.752 111.177 50.8427 109.172 52.336C107.209 53.8293 104.35 54.576 100.596 54.576Z"
                    stroke="white" stroke-width="2" mask="url(#path-1-outside-1_5_12)" />
                <path
                    d="M121.969 54V2.16H132.402C135.858 2.16 138.716 2.62933 140.978 3.568C143.239 4.464 144.903 5.936 145.969 7.984C147.079 9.98933 147.633 12.6347 147.633 15.92C147.633 17.9253 147.42 19.76 146.993 21.424C146.567 23.0453 145.884 24.432 144.945 25.584C144.007 26.6933 142.77 27.504 141.234 28.016L148.594 54H141.617L134.833 29.68H129.202V54H121.969ZM129.202 24.496H131.954C134.002 24.496 135.665 24.24 136.945 23.728C138.225 23.216 139.164 22.3413 139.762 21.104C140.359 19.8667 140.658 18.1387 140.658 15.92C140.658 12.8907 140.103 10.7147 138.993 9.392C137.884 8.02666 135.687 7.344 132.402 7.344H129.202V24.496Z"
                    stroke="white" stroke-width="2" mask="url(#path-1-outside-1_5_12)" />
                <path d="M155.541 54V2.16H162.645V54H155.541Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1_5_12)" />
                <path
                    d="M183.256 54.576C180.269 54.576 177.773 53.936 175.768 52.656C173.805 51.376 172.312 49.6053 171.288 47.344C170.264 45.0827 169.667 42.4587 169.496 39.472L175.896 37.744C176.024 39.5787 176.301 41.3493 176.728 43.056C177.197 44.7627 177.944 46.1707 178.968 47.28C179.992 48.3467 181.421 48.88 183.256 48.88C185.133 48.88 186.541 48.368 187.48 47.344C188.461 46.2773 188.952 44.7627 188.952 42.8C188.952 40.4533 188.419 38.576 187.352 37.168C186.285 35.7173 184.941 34.2667 183.32 32.816L174.616 25.136C172.909 23.6427 171.651 22.0213 170.84 20.272C170.029 18.48 169.624 16.2827 169.624 13.68C169.624 9.88266 170.712 6.93866 172.888 4.848C175.064 2.75733 178.029 1.712 181.784 1.712C183.832 1.712 185.624 1.98933 187.16 2.544C188.739 3.056 190.04 3.86666 191.064 4.976C192.131 6.08533 192.963 7.49333 193.56 9.2C194.2 10.864 194.627 12.8267 194.84 15.088L188.696 16.752C188.568 15.0453 188.312 13.488 187.928 12.08C187.544 10.6293 186.861 9.47733 185.88 8.624C184.941 7.728 183.576 7.28 181.784 7.28C179.992 7.28 178.584 7.77067 177.56 8.752C176.579 9.69066 176.088 11.0987 176.088 12.976C176.088 14.5547 176.344 15.856 176.856 16.88C177.411 17.904 178.285 18.9493 179.48 20.016L188.248 27.696C190.211 29.4027 191.939 31.4507 193.432 33.84C194.925 36.1867 195.672 38.9813 195.672 42.224C195.672 44.784 195.139 47.0027 194.072 48.88C193.005 50.7147 191.533 52.1227 189.656 53.104C187.821 54.0853 185.688 54.576 183.256 54.576Z"
                    stroke="white" stroke-width="2" mask="url(#path-1-outside-1_5_12)" />
                <path d="M206.978 54V7.536H198.21V2.16H222.722V7.536H214.21V54H206.978Z" stroke="white" stroke-width="2"
                    mask="url(#path-1-outside-1_5_12)" />
                <path d="M228.104 54V2.16H235.208V54H228.104Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1_5_12)" />
                <path
                    d="M256.586 54.576C252.917 54.576 250.058 53.808 248.01 52.272C246.005 50.736 244.597 48.6667 243.786 46.064C243.018 43.4613 242.635 40.56 242.635 37.36V19.056C242.635 15.5573 243.018 12.5067 243.786 9.904C244.597 7.30133 246.005 5.296 248.01 3.888C250.058 2.43733 252.917 1.712 256.586 1.712C259.829 1.712 262.389 2.30933 264.266 3.504C266.186 4.69866 267.552 6.40533 268.362 8.624C269.216 10.8427 269.643 13.5093 269.643 16.624V20.72H262.794V17.072C262.794 15.152 262.688 13.4667 262.474 12.016C262.304 10.5227 261.792 9.37066 260.938 8.56C260.085 7.74933 258.656 7.344 256.651 7.344C254.603 7.344 253.109 7.792 252.171 8.688C251.232 9.54133 250.613 10.7787 250.314 12.4C250.058 13.9787 249.93 15.8347 249.93 17.968V38.512C249.93 41.1147 250.144 43.184 250.57 44.72C250.997 46.2133 251.701 47.28 252.682 47.92C253.664 48.56 254.987 48.88 256.651 48.88C258.613 48.88 260.021 48.4533 260.874 47.6C261.728 46.704 262.261 45.488 262.474 43.952C262.688 42.416 262.794 40.624 262.794 38.576V34.736H269.643V38.576C269.643 41.7333 269.258 44.528 268.49 46.96C267.722 49.3493 266.4 51.2267 264.522 52.592C262.645 53.9147 260 54.576 256.586 54.576Z"
                    stroke="white" stroke-width="2" mask="url(#path-1-outside-1_5_12)" />
            </svg>

            <svg width="357" height="56" id="tech" viewBox="0 0 357 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-outside-1_5_16" maskUnits="userSpaceOnUse" x="0.960007" y="0.711998" width="356" height="55"
                    fill="black">
                    <rect fill="white" x="0.960007" y="0.711998" width="356" height="55" />
                    <path d="M10.728 54V7.536H1.96001V2.16H26.472V7.536H17.96V54H10.728Z" />
                    <path d="M31.4695 54V2.16H51.5655V7.536H38.7015V24.688H49.1335V29.808H38.7015V48.816H51.6935V54H31.4695Z" />
                    <path
                        d="M70.524 54.576C66.8547 54.576 63.996 53.808 61.948 52.272C59.9427 50.736 58.5347 48.6667 57.724 46.064C56.956 43.4613 56.572 40.56 56.572 37.36V19.056C56.572 15.5573 56.956 12.5067 57.724 9.904C58.5347 7.30133 59.9427 5.296 61.948 3.888C63.996 2.43733 66.8547 1.712 70.524 1.712C73.7667 1.712 76.3267 2.30933 78.204 3.504C80.124 4.69866 81.4893 6.40533 82.3 8.624C83.1533 10.8427 83.58 13.5093 83.58 16.624V20.72H76.732V17.072C76.732 15.152 76.6253 13.4667 76.412 12.016C76.2413 10.5227 75.7293 9.37066 74.876 8.56C74.0227 7.74933 72.5933 7.344 70.588 7.344C68.54 7.344 67.0467 7.792 66.108 8.688C65.1693 9.54133 64.5507 10.7787 64.252 12.4C63.996 13.9787 63.868 15.8347 63.868 17.968V38.512C63.868 41.1147 64.0813 43.184 64.508 44.72C64.9347 46.2133 65.6387 47.28 66.62 47.92C67.6013 48.56 68.924 48.88 70.588 48.88C72.5507 48.88 73.9587 48.4533 74.812 47.6C75.6653 46.704 76.1987 45.488 76.412 43.952C76.6253 42.416 76.732 40.624 76.732 38.576V34.736H83.58V38.576C83.58 41.7333 83.196 44.528 82.428 46.96C81.66 49.3493 80.3373 51.2267 78.46 52.592C76.5827 53.9147 73.9373 54.576 70.524 54.576Z" />
                    <path d="M90.4695 54V2.16H97.7015V24.56H111.014V2.16H118.246V54H111.014V29.744H97.7015V54H90.4695Z" />
                    <path d="M126.345 54V2.16H131.273L145.992 36.592V2.16H152.008V54H147.4L132.488 18.608V54H126.345Z" />
                    <path
                        d="M173.405 54.576C169.906 54.576 167.112 53.8933 165.021 52.528C162.93 51.1627 161.437 49.2213 160.541 46.704C159.645 44.144 159.197 41.1573 159.197 37.744V18.096C159.197 14.6827 159.645 11.76 160.541 9.328C161.48 6.85333 162.973 4.976 165.021 3.696C167.112 2.37333 169.906 1.712 173.405 1.712C176.904 1.712 179.677 2.37333 181.725 3.696C183.773 5.01866 185.245 6.896 186.141 9.328C187.08 11.76 187.549 14.6827 187.549 18.096V37.808C187.549 41.1787 187.08 44.1227 186.141 46.64C185.245 49.1573 183.773 51.12 181.725 52.528C179.677 53.8933 176.904 54.576 173.405 54.576ZM173.405 48.88C175.325 48.88 176.776 48.496 177.757 47.728C178.738 46.9173 179.4 45.808 179.741 44.4C180.082 42.9493 180.253 41.264 180.253 39.344V16.624C180.253 14.704 180.082 13.0613 179.741 11.696C179.4 10.288 178.738 9.22133 177.757 8.496C176.776 7.728 175.325 7.344 173.405 7.344C171.485 7.344 170.013 7.728 168.989 8.496C168.008 9.22133 167.346 10.288 167.005 11.696C166.664 13.0613 166.493 14.704 166.493 16.624V39.344C166.493 41.264 166.664 42.9493 167.005 44.4C167.346 45.808 168.008 46.9173 168.989 47.728C170.013 48.496 171.485 48.88 173.405 48.88Z" />
                    <path d="M194.657 54V2.16H201.889V48.816H215.137V54H194.657Z" />
                    <path
                        d="M232.967 54.576C229.469 54.576 226.674 53.8933 224.583 52.528C222.493 51.1627 221 49.2213 220.104 46.704C219.208 44.144 218.76 41.1573 218.76 37.744V18.096C218.76 14.6827 219.208 11.76 220.104 9.328C221.042 6.85333 222.535 4.976 224.583 3.696C226.674 2.37333 229.469 1.712 232.967 1.712C236.466 1.712 239.24 2.37333 241.288 3.696C243.336 5.01866 244.808 6.896 245.704 9.328C246.642 11.76 247.111 14.6827 247.111 18.096V37.808C247.111 41.1787 246.642 44.1227 245.704 46.64C244.808 49.1573 243.336 51.12 241.288 52.528C239.24 53.8933 236.466 54.576 232.967 54.576ZM232.967 48.88C234.887 48.88 236.338 48.496 237.32 47.728C238.301 46.9173 238.962 45.808 239.303 44.4C239.645 42.9493 239.816 41.264 239.816 39.344V16.624C239.816 14.704 239.645 13.0613 239.303 11.696C238.962 10.288 238.301 9.22133 237.32 8.496C236.338 7.728 234.887 7.344 232.967 7.344C231.047 7.344 229.575 7.728 228.551 8.496C227.57 9.22133 226.909 10.288 226.568 11.696C226.226 13.0613 226.055 14.704 226.055 16.624V39.344C226.055 41.264 226.226 42.9493 226.568 44.4C226.909 45.808 227.57 46.9173 228.551 47.728C229.575 48.496 231.047 48.88 232.967 48.88Z" />
                    <path
                        d="M266.572 54.64C263.329 54.64 260.726 53.9573 258.764 52.592C256.844 51.184 255.436 49.1573 254.54 46.512C253.686 43.8667 253.26 40.688 253.26 36.976V19.632C253.26 15.8347 253.643 12.6133 254.411 9.968C255.222 7.28 256.63 5.232 258.636 3.824C260.684 2.416 263.521 1.712 267.148 1.712C270.39 1.712 272.993 2.26667 274.956 3.376C276.961 4.44267 278.412 6.10666 279.308 8.368C280.204 10.5867 280.652 13.4027 280.652 16.816V18.736H273.868V17.136C273.868 14.8747 273.718 13.04 273.42 11.632C273.121 10.1813 272.502 9.11466 271.564 8.432C270.668 7.70667 269.238 7.344 267.276 7.344C265.142 7.344 263.585 7.83466 262.604 8.816C261.665 9.79733 261.068 11.1413 260.812 12.848C260.598 14.512 260.492 16.4107 260.492 18.544V37.744C260.492 40.2187 260.662 42.288 261.004 43.952C261.388 45.616 262.092 46.8533 263.116 47.664C264.14 48.4747 265.59 48.88 267.468 48.88C269.345 48.88 270.796 48.432 271.82 47.536C272.844 46.64 273.548 45.3173 273.932 43.568C274.316 41.8187 274.508 39.6427 274.508 37.04V33.456H267.916V28.336H281.036V54H276.492L275.788 48.048C275.105 49.968 274.038 51.5467 272.588 52.784C271.137 54.0213 269.132 54.64 266.572 54.64Z" />
                    <path d="M288.854 54V2.16H295.958V54H288.854Z" />
                    <path d="M304.345 54V2.16H324.441V7.536H311.577V24.688H322.009V29.808H311.577V48.816H324.569V54H304.345Z" />
                    <path
                        d="M342.631 54.576C339.644 54.576 337.148 53.936 335.143 52.656C333.18 51.376 331.687 49.6053 330.663 47.344C329.639 45.0827 329.042 42.4587 328.871 39.472L335.271 37.744C335.399 39.5787 335.676 41.3493 336.103 43.056C336.572 44.7627 337.319 46.1707 338.343 47.28C339.367 48.3467 340.796 48.88 342.631 48.88C344.508 48.88 345.916 48.368 346.855 47.344C347.836 46.2773 348.327 44.7627 348.327 42.8C348.327 40.4533 347.794 38.576 346.727 37.168C345.66 35.7173 344.316 34.2667 342.695 32.816L333.991 25.136C332.284 23.6427 331.026 22.0213 330.215 20.272C329.404 18.48 328.999 16.2827 328.999 13.68C328.999 9.88266 330.087 6.93866 332.263 4.848C334.439 2.75733 337.404 1.712 341.159 1.712C343.207 1.712 344.999 1.98933 346.535 2.544C348.114 3.056 349.415 3.86666 350.439 4.976C351.506 6.08533 352.338 7.49333 352.935 9.2C353.575 10.864 354.002 12.8267 354.215 15.088L348.071 16.752C347.943 15.0453 347.687 13.488 347.303 12.08C346.919 10.6293 346.236 9.47733 345.255 8.624C344.316 7.728 342.951 7.28 341.159 7.28C339.367 7.28 337.959 7.77067 336.935 8.752C335.954 9.69066 335.463 11.0987 335.463 12.976C335.463 14.5547 335.719 15.856 336.231 16.88C336.786 17.904 337.66 18.9493 338.855 20.016L347.623 27.696C349.586 29.4027 351.314 31.4507 352.807 33.84C354.3 36.1867 355.047 38.9813 355.047 42.224C355.047 44.784 354.514 47.0027 353.447 48.88C352.38 50.7147 350.908 52.1227 349.031 53.104C347.196 54.0853 345.063 54.576 342.631 54.576Z" />
                </mask>
                <path d="M10.728 54V7.536H1.96001V2.16H26.472V7.536H17.96V54H10.728Z" stroke="#FB4627" stroke-width="2"
                    mask="url(#path-1-outside-1_5_16)" />
                <path d="M31.4695 54V2.16H51.5655V7.536H38.7015V24.688H49.1335V29.808H38.7015V48.816H51.6935V54H31.4695Z"
                    stroke="#FB4627" stroke-width="2" mask="url(#path-1-outside-1_5_16)" />
                <path
                    d="M70.524 54.576C66.8547 54.576 63.996 53.808 61.948 52.272C59.9427 50.736 58.5347 48.6667 57.724 46.064C56.956 43.4613 56.572 40.56 56.572 37.36V19.056C56.572 15.5573 56.956 12.5067 57.724 9.904C58.5347 7.30133 59.9427 5.296 61.948 3.888C63.996 2.43733 66.8547 1.712 70.524 1.712C73.7667 1.712 76.3267 2.30933 78.204 3.504C80.124 4.69866 81.4893 6.40533 82.3 8.624C83.1533 10.8427 83.58 13.5093 83.58 16.624V20.72H76.732V17.072C76.732 15.152 76.6253 13.4667 76.412 12.016C76.2413 10.5227 75.7293 9.37066 74.876 8.56C74.0227 7.74933 72.5933 7.344 70.588 7.344C68.54 7.344 67.0467 7.792 66.108 8.688C65.1693 9.54133 64.5507 10.7787 64.252 12.4C63.996 13.9787 63.868 15.8347 63.868 17.968V38.512C63.868 41.1147 64.0813 43.184 64.508 44.72C64.9347 46.2133 65.6387 47.28 66.62 47.92C67.6013 48.56 68.924 48.88 70.588 48.88C72.5507 48.88 73.9587 48.4533 74.812 47.6C75.6653 46.704 76.1987 45.488 76.412 43.952C76.6253 42.416 76.732 40.624 76.732 38.576V34.736H83.58V38.576C83.58 41.7333 83.196 44.528 82.428 46.96C81.66 49.3493 80.3373 51.2267 78.46 52.592C76.5827 53.9147 73.9373 54.576 70.524 54.576Z"
                    stroke="#FB4627" stroke-width="2" mask="url(#path-1-outside-1_5_16)" />
                <path d="M90.4695 54V2.16H97.7015V24.56H111.014V2.16H118.246V54H111.014V29.744H97.7015V54H90.4695Z" stroke="#FB4627"
                    stroke-width="2" mask="url(#path-1-outside-1_5_16)" />
                <path d="M126.345 54V2.16H131.273L145.992 36.592V2.16H152.008V54H147.4L132.488 18.608V54H126.345Z" stroke="#FB4627"
                    stroke-width="2" mask="url(#path-1-outside-1_5_16)" />
                <path
                    d="M173.405 54.576C169.906 54.576 167.112 53.8933 165.021 52.528C162.93 51.1627 161.437 49.2213 160.541 46.704C159.645 44.144 159.197 41.1573 159.197 37.744V18.096C159.197 14.6827 159.645 11.76 160.541 9.328C161.48 6.85333 162.973 4.976 165.021 3.696C167.112 2.37333 169.906 1.712 173.405 1.712C176.904 1.712 179.677 2.37333 181.725 3.696C183.773 5.01866 185.245 6.896 186.141 9.328C187.08 11.76 187.549 14.6827 187.549 18.096V37.808C187.549 41.1787 187.08 44.1227 186.141 46.64C185.245 49.1573 183.773 51.12 181.725 52.528C179.677 53.8933 176.904 54.576 173.405 54.576ZM173.405 48.88C175.325 48.88 176.776 48.496 177.757 47.728C178.738 46.9173 179.4 45.808 179.741 44.4C180.082 42.9493 180.253 41.264 180.253 39.344V16.624C180.253 14.704 180.082 13.0613 179.741 11.696C179.4 10.288 178.738 9.22133 177.757 8.496C176.776 7.728 175.325 7.344 173.405 7.344C171.485 7.344 170.013 7.728 168.989 8.496C168.008 9.22133 167.346 10.288 167.005 11.696C166.664 13.0613 166.493 14.704 166.493 16.624V39.344C166.493 41.264 166.664 42.9493 167.005 44.4C167.346 45.808 168.008 46.9173 168.989 47.728C170.013 48.496 171.485 48.88 173.405 48.88Z"
                    stroke="#FB4627" stroke-width="2" mask="url(#path-1-outside-1_5_16)" />
                <path d="M194.657 54V2.16H201.889V48.816H215.137V54H194.657Z" stroke="#FB4627" stroke-width="2"
                    mask="url(#path-1-outside-1_5_16)" />
                <path
                    d="M232.967 54.576C229.469 54.576 226.674 53.8933 224.583 52.528C222.493 51.1627 221 49.2213 220.104 46.704C219.208 44.144 218.76 41.1573 218.76 37.744V18.096C218.76 14.6827 219.208 11.76 220.104 9.328C221.042 6.85333 222.535 4.976 224.583 3.696C226.674 2.37333 229.469 1.712 232.967 1.712C236.466 1.712 239.24 2.37333 241.288 3.696C243.336 5.01866 244.808 6.896 245.704 9.328C246.642 11.76 247.111 14.6827 247.111 18.096V37.808C247.111 41.1787 246.642 44.1227 245.704 46.64C244.808 49.1573 243.336 51.12 241.288 52.528C239.24 53.8933 236.466 54.576 232.967 54.576ZM232.967 48.88C234.887 48.88 236.338 48.496 237.32 47.728C238.301 46.9173 238.962 45.808 239.303 44.4C239.645 42.9493 239.816 41.264 239.816 39.344V16.624C239.816 14.704 239.645 13.0613 239.303 11.696C238.962 10.288 238.301 9.22133 237.32 8.496C236.338 7.728 234.887 7.344 232.967 7.344C231.047 7.344 229.575 7.728 228.551 8.496C227.57 9.22133 226.909 10.288 226.568 11.696C226.226 13.0613 226.055 14.704 226.055 16.624V39.344C226.055 41.264 226.226 42.9493 226.568 44.4C226.909 45.808 227.57 46.9173 228.551 47.728C229.575 48.496 231.047 48.88 232.967 48.88Z"
                    stroke="#FB4627" stroke-width="2" mask="url(#path-1-outside-1_5_16)" />
                <path
                    d="M266.572 54.64C263.329 54.64 260.726 53.9573 258.764 52.592C256.844 51.184 255.436 49.1573 254.54 46.512C253.686 43.8667 253.26 40.688 253.26 36.976V19.632C253.26 15.8347 253.643 12.6133 254.411 9.968C255.222 7.28 256.63 5.232 258.636 3.824C260.684 2.416 263.521 1.712 267.148 1.712C270.39 1.712 272.993 2.26667 274.956 3.376C276.961 4.44267 278.412 6.10666 279.308 8.368C280.204 10.5867 280.652 13.4027 280.652 16.816V18.736H273.868V17.136C273.868 14.8747 273.718 13.04 273.42 11.632C273.121 10.1813 272.502 9.11466 271.564 8.432C270.668 7.70667 269.238 7.344 267.276 7.344C265.142 7.344 263.585 7.83466 262.604 8.816C261.665 9.79733 261.068 11.1413 260.812 12.848C260.598 14.512 260.492 16.4107 260.492 18.544V37.744C260.492 40.2187 260.662 42.288 261.004 43.952C261.388 45.616 262.092 46.8533 263.116 47.664C264.14 48.4747 265.59 48.88 267.468 48.88C269.345 48.88 270.796 48.432 271.82 47.536C272.844 46.64 273.548 45.3173 273.932 43.568C274.316 41.8187 274.508 39.6427 274.508 37.04V33.456H267.916V28.336H281.036V54H276.492L275.788 48.048C275.105 49.968 274.038 51.5467 272.588 52.784C271.137 54.0213 269.132 54.64 266.572 54.64Z"
                    stroke="#FB4627" stroke-width="2" mask="url(#path-1-outside-1_5_16)" />
                <path d="M288.854 54V2.16H295.958V54H288.854Z" stroke="#FB4627" stroke-width="2"
                    mask="url(#path-1-outside-1_5_16)" />
                <path d="M304.345 54V2.16H324.441V7.536H311.577V24.688H322.009V29.808H311.577V48.816H324.569V54H304.345Z"
                    stroke="#FB4627" stroke-width="2" mask="url(#path-1-outside-1_5_16)" />
                <path
                    d="M342.631 54.576C339.644 54.576 337.148 53.936 335.143 52.656C333.18 51.376 331.687 49.6053 330.663 47.344C329.639 45.0827 329.042 42.4587 328.871 39.472L335.271 37.744C335.399 39.5787 335.676 41.3493 336.103 43.056C336.572 44.7627 337.319 46.1707 338.343 47.28C339.367 48.3467 340.796 48.88 342.631 48.88C344.508 48.88 345.916 48.368 346.855 47.344C347.836 46.2773 348.327 44.7627 348.327 42.8C348.327 40.4533 347.794 38.576 346.727 37.168C345.66 35.7173 344.316 34.2667 342.695 32.816L333.991 25.136C332.284 23.6427 331.026 22.0213 330.215 20.272C329.404 18.48 328.999 16.2827 328.999 13.68C328.999 9.88266 330.087 6.93866 332.263 4.848C334.439 2.75733 337.404 1.712 341.159 1.712C343.207 1.712 344.999 1.98933 346.535 2.544C348.114 3.056 349.415 3.86666 350.439 4.976C351.506 6.08533 352.338 7.49333 352.935 9.2C353.575 10.864 354.002 12.8267 354.215 15.088L348.071 16.752C347.943 15.0453 347.687 13.488 347.303 12.08C346.919 10.6293 346.236 9.47733 345.255 8.624C344.316 7.728 342.951 7.28 341.159 7.28C339.367 7.28 337.959 7.77067 336.935 8.752C335.954 9.69066 335.463 11.0987 335.463 12.976C335.463 14.5547 335.719 15.856 336.231 16.88C336.786 17.904 337.66 18.9493 338.855 20.016L347.623 27.696C349.586 29.4027 351.314 31.4507 352.807 33.84C354.3 36.1867 355.047 38.9813 355.047 42.224C355.047 44.784 354.514 47.0027 353.447 48.88C352.38 50.7147 350.908 52.1227 349.031 53.104C347.196 54.0853 345.063 54.576 342.631 54.576Z"
                    stroke="#FB4627" stroke-width="2" mask="url(#path-1-outside-1_5_16)" />
            </svg>


        </div>
        <p class="quoteLine">Technologies made for the future</p>

        <a href="/products" class="startBtn">
            <div class="button-wrapper">
                <span class="Btntext">Get Started...</span>
                <div class="button">
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                   <div class="cells"></div>
                </div>
            </div>
        </a>

        <ul class="mediaLink">
            <li><a href="https://www.facebook.com/" target="_blank"><img src="/icons/facebook-brands.svg" alt="facebook"></a></li>
            <li><a href="https://twitter.com/login" target="_blank"><img src="/icons/twitter-brands.svg" alt="twitter"></a></li>
            <li><a href="https://www.youtube.com/" target="_blank"><img src="/icons/youtube-brands.svg" alt="youtube"></a></li>
        </ul>
    </div>
    
</div>

<%-include('partials/foot') %>



<!-- animate text with js -->

<script>
    anime({
            targets: '#futuristic  path',
            strokeDashoffset: [anime.setDashoffset, 0],
            easing: 'easeInOutSine',
            duration: 1500,
            delay: 1000,
            direction: 'alternate',
            loop: false
        });
    anime({
            targets: '#tech  path',
            strokeDashoffset: [anime.setDashoffset, 1],
            easing: 'easeInOutSine',
            duration: 1500,
            delay: 3000,
            direction: 'alternate',
            loop: false
        });
    
    let buttonAnimation = anime({
            targets: '.button .cells',
            scale: [
                { value: .5, easing: 'easeOutSine', duration: 100 },
                { value: 1, easing: 'easeInOutQuad', duration: 200 }
            ],
            delay: anime.stagger(200, { grid: [10, 5], from:"center" }),
            autoplay: false,
        });

        document.querySelector('.button-wrapper').onmouseover = buttonAnimation.play;
        document.querySelector('.Btntext').onmouseover = buttonAnimation.play;
    
</script>